.calculator {
  width: 320px;
  margin: auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
}

.display {
  font-size: 36px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: right;
  border: 1px solid #ccc;
  padding: 35px 20px 0px 20px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 0px;
}
.display p {
  padding: 0px;
  margin: 0px;
  line-height: 34px;
}
.display p small {
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
}

button {
  font-size: 24px;
  padding: 0px;
  width: 80px;
  height: 80px;
  background-color: #e0e0e0;
  border-radius: 0px;
  border: thin solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #d0d0d0;
}

.row button:last-child,
.row button:last-child,
.row button:last-child,
.row button:last-child,
.row button:last-child {
  background-color: #ff9900;
  color: white;
}

.row:last-child button:first-child {
  width: 160px;
}
